#include "menu.h"
IDR_MYMENU MENU
BEGIN
POPUP "&Circle"
BEGIN
MENUITEM "&Circle Cartesian", Circle_Cartesian
MENUITEM "&Circle MidPoint", Circle_MidPoint
MENUITEM "&Circle_Polar", Circle_Polar
END
POPUP "&Curves"
BEGIN
MENUITEM "&Hermit curves", Curve_Hermit
MENUITEM "&Bezier curves", Curve_Bezier
END
POPUP "&Line"
BEGIN
MENUITEM "&Direct Line", Line_Cartesian
MENUITEM "&LineMidPoint", Line_MidPoint
MENUITEM "&LineDDA", Line_DDA
END
POPUP "&Filling"
BEGIN
MENUITEM "&Flood Fill", filling_ID
END
POPUP "&Clipping"
BEGIN
MENUITEM "&Line Clipping", Line_Clipping
END
END